<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>MSDeploy</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish/>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>7b3f1c9a-5e2d-4a8b-b6c3-d4e5f6a7b8c9</ProjectGuid>
    <publishUrl>./publish/</publishUrl>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <TargetFramework>net8.0</TargetFramework>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <SelfContained>false</SelfContained>

    <MSDeployServiceURL>https://win8072.site4now.net:8172/MsDeploy.axd?site=shopfresherz-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>shopfresherz-001-site1</DeployIisAppPath>
    <UserName>shopfresherz-001</UserName>
    <Password>shopfresherz123</Password>
    <AllowUntrustedCertificate>true</AllowUntrustedCertificate>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
  </PropertyGroup>
</Project>

